
/* GENERAL */

$nocolor: #FFFFFF;
$othercolor: #000000;
$maincolor: darken(#48d3ff, 40%);
$linkcolor: lighten($maincolor, 20%);
$fontcolor: black;
$photoheight: 200px;

body {
	
}

.container {
	position: relative;
	margin: 0 auto;
	width: 960px;
	font-color: $maincolor;
}

//Clearfix
.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/*Header*/

header {
	position: relative;
	width: 100%;
	background-color: $othercolor;
	text-align: left;
	height: 80px;
	color: $nocolor;

	h2 {
		font-size: 24pt;
		font-family: "Trebuchet-MS", Helvetica, sans-serif;
		padding: 5px;
	}
}

/*Sections*/

section {
}

.favorites {
	width: 100%-10px;
	overflow-y: hidden;
	padding: 0 $photoheight*.025 0 $photoheight*.025;

	ul {
		width: $photoheight*12;
		height: $photoheight*2;
		
		li {
			position: relative;
			padding: 25px 0 0 0;
			float: left;
			margin-right: $photoheight*.2;
			width: $photoheight;
			height: $photoheight*2;
		
			a{
				text-decoration: none;
				text-align: left;
				text-indent: 5px;
				width: $photoheight*.9;
				height: 20px;
				color: $maincolor;
				position: absolute;
				left: -$photoheight+$photoheight+10px;
				top: $photoheight;
				background-color: black;

				&:hover {
					color: $linkcolor;
				}

				b {
				
				}
			}

			img {
				position: relative;
				width: $photoheight;
				height: $photoheight;
				opacity: .8;

				&:hover {
					opacity: 1;
				}
			}

			article {
				position: absolute;
				top: $photoheight*1.125;
				text-indent: 10px;
				width: 100%;
				height: $photoheight;
				background-color: transparentize($maincolor, .5);

				i {
					position: relative;
					font-style: italic;
					top: 2px;
				}
			}
		}
	}
}

.copyright {
	position: absolute;
	padding: 5px;
}