
/* GENERAL */

$nocolor: #FFFFFF;
$othercolor: transparentize(#000000, .3);
$bgcolor: transparentize($othercolor, .5);
$maincolor: darken(#C3D9FF, 5%);
$linkcolor: lighten($maincolor, 20%);
$fontcolor: black;
$photoheight: 200px;

body {
	
}

.container {
	width: 100%;
	position: relative;
	margin: 0 auto;
	font-color: $maincolor;
	font-family: 'Chau Philomene One', sans-serif;
}

//Clearfix
.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/*Header*/

header {
	position: relative;
	width: 100%;
	background-color: $othercolor;
	text-align: left;
	height: 65px;
	color: $nocolor;

	h1 {
		font-size: 10pt;
	}
	h2 {
		font-size: 30pt;
		padding: 10px;
	}
}

/*Sections*/

section {
}

.favorites {
	width: 100%;
	overflow-y: hidden;
	//padding: 0 $photoheight*.025 0 $photoheight*.025;
	//background-color: $bgcolor;
	height: $photoheight*1.5+17px;

	ul {
		width: $photoheight*10;
		height: $photoheight*2;
		
		li {
			position: relative;
			float: left;
			margin-right:0;
			width: $photoheight;
			height: $photoheight*2;

			div {
				z-index: 1;
				position: absolute;
				background-color: $othercolor;
				height: 20px;
				width: 25px;
				opacity: .8;

				p {
					position: relative;
					top: -9px;
					left: -4px;
					color: white;
				}
			}
		
			a {
				b {
					text-decoration: none;
					text-align: left;
					text-indent: 5px;
					width: 200px;
					height: 20px;
					color: $linkcolor;
					position: absolute;
					left: -$photoheight+$photoheight;
					top: $photoheight+-26px;
					background-color: black;
					opacity: 1;
					padding: 3px 0;
					text-align: center;
				}
			}

			p{
				padding: 10px;
			}

			img {
				position: relative;
				width: $photoheight;
				height: $photoheight;
				opacity: .7;

				&:hover {
					opacity: 1;
				}
			}

			article {
				position: relative;
				top:-2px;
				width: 100%;
				font-size: 10pt;
				height: $photoheight/2 + 20px;
				padding: 5px;
			}

			.mike {
				background-color: $maincolor;
			}

			.alan {
				background-color: darken($maincolor, 5%);
			}
		}
	}
}

.copyright {
	position: relative;
	padding: 5px;
	position: fixed;
	border-top: 1px solid black;
	background-color: $othercolor;
	width: 100%;
	height: 200px;
	color: white;
	text-decoration: none;
}

.scroll {
	float: right;
	text-decoration: none;
	padding: 5px;
	margin-right: 10px;
}